{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "tsconfigRootDir": ".",
    "createDefaultProgram": true,
    "project": "./tsconfig.json"
  },
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin/prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  // add your custom rules here
  "rules": {
    "semi": ["error", "always"],
    "vue/html-closing-bracket-newline": "off",
    "no-console": "error",
    "no-debugger": "error",
    "space-before-function-paren": 0
  }
}
